extends layout

block content
  .container.mt-5
    h3 Results of search "!{searchTerm}"
    hr
    each result in results
      if result.score < 0.2
        a.btn.btn-light(role="button" href=`getinfo?name=${result.item.name}&searchTerm=${searchTerm}`)= result.saneName
        hr
    h3.mt-5 Related Content
    each result in results
      if result.score >= 0.2
        a.btn.btn-light(role="button" href=`getinfo?name=${result.item.name}&searchTerm=${searchTerm}`)= result.saneName
        hr
